/*****************************************
CUSTOM SUPER LIGHTWEIGHT FLEX GRID MIXIN
BUILT FOR EXTENDING
*****************************************/

// @pouya nafisi
// quick function to convert px to rem 
// you can change this include your body root font-size by default the browser font size is 16px
@function calcrem($val, $root-px:16){
  $rem-val : ($val / $root-px);
  @return $rem-val+rem;
}


@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}


/*** build out the grid structure ***/

@mixin buildout-rgl($config: 'default'){

  @if $config == 'default'{
    $config: (
      'prefix': 'grid',
      'columns': 12,
      'gutters': 30,
      'container': 100%,
      'media-vars': (
          'xs': 0,
          'sm': 576,
          'md': 768,
          'lg': 992,
          'xl': 1200,
          'xxl': 1440,
        )

    );
  }

  /*******
  grid vars for SDS
  *******/
  @each $key, $value in $config {
    /* #{$key}: #{$value} */
  }



  @each $key, $value in map-deep-get($config, "media-vars") {
      @if $key!= 'xs' and $key!='xxl'{
            @media screen and (max-width:($value - 1)+px) { 
                  .#{map-get($config, prefix)}-container {
                       width: ($value - 1);
                  }      
           }
        } 
  }

  .#{map-get($config, prefix)}-row{ 
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -+calcrem(map-get($config, gutters));
      margin-left: -+calcrem(map-get($config, gutters));
  }

  .#{map-get($config, prefix)} {

      position: relative;
      width: 100%;
      min-height: 1px;
      padding-right: calcrem(map-get($config, gutters));
      padding-left: calcrem(map-get($config, gutters));
  }


  @each $key, $value in map-deep-get($config, "media-vars") {

      @if $key!= 'xs' {
          @media screen and (min-width:($value)+px) {
            @for $col from 1 through map-get($config, columns) {
              .#{map-get($config, prefix)}-#{$key}-#{$col} {
                   width: (100/12*$col)+%;

              }
            }
          }
       } @else{
          @for $col from 1 through map-get($config, columns) {
            .#{map-get($config, prefix)}-#{$key}-#{$col} {
                 width: (100/12*$col)+%;

            }
          }
      }
  }
}


